main {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 800px) 1fr;
    grid-gap: 20px;
}

#nav {
    text-align: center;
    margin-bottom: 32px;
}

.tab {
    margin: 0 20px;
    padding: 0;
    background: transparent;
    border: none;
    border-bottom: 5px transparent solid;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
}

.tab:hover {
    border-bottom: 5px black solid;
}

.tab:focus {
    outline: transparent;
}

#promoImage {
    grid-column: 1 / span 3;
    margin: 0 auto;   
} 

#promoText {
    grid-column: 2 / span 1;
}

#quotes {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    line-height: 32px;
    margin: 40px 0;
}

#about {
    font-size: 17px;
    max-width: 600px;
    display: block;
    line-height: 32px;
    margin: 40px auto;
}

#menu {
 grid-column: 2 / span 1;
 display: grid;
 grid-auto-rows: auto;
 grid-gap: 20px;
}

.menuCat {
    background: black;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    padding: 12px 0;
    text-align: center;    
}

.menuItem {
    display: grid;
    min-height: 60px;
    grid-template-columns: 80% 20%;
    grid-template-rows: 60% 40%;
    margin-bottom: 40px;
}

.itemName {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.itemPrice {
    grid-column: 2 / span 1;
    justify-self: end;
    
}

.itemDescription {
    grid-row: 2 / span 1;
}